.home-banner-text {
  font-size: 80px;
  font-weight: 400;
  color: black;
  max-width: 950px;
  line-height: 97px;
  margin-top: 170px;
}

.home-name-text {
  font-weight: 900;
  text-shadow: 4px 4px 0px rgba(255, 186, 0, 0.55);
}
